[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
